@{
    ViewData["Title"] = "Inicio";
}

<style>
    .bienvenida {
        height: 78vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }
</style>

<div class="bienvenida">
    <div>
        <h3 class="font-weight-bold">¡Bienvenido De Vuelta!</h3>
        <h6 class="font-weight-normal mb-0">Sistema De Control Administrativo - Misión Cristiana Elim Izalco</h6>
    </div>
</div>